/*
Code CSS par Nico J
*/

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Raleway';
    box-sizing: border-box;
    font-size: 16px;
    }

button {
    cursor: pointer;
}

    /*******Entête de la page***************/
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /*le bloc va à la ligne si plus de place*/
    margin: 0 30px 0 30px
}

/*partie logo*/
.header-logo {
    height: 50px;
    margin: 10px;
}   

/*partie liens*/
header nav {
    display: flex;
    text-decoration: none;
 }

.nav_header {
    padding-top: 30px; 
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    color: black;
 }

header nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 28px;
}

/*******Section 1 : Formulaire recherche ***************/
.bloc1 {
    margin-left: 30px;
    margin-right: 30px;
}
.texte_formulaire h1 {
    font-size: 22px;
    margin: 30px 0 8px 0;
}

.texte_formulaire p {
    margin: 8px 0 20px 0;
}

/********section 1 : barre de recherche*******/
form {
    display: flex;
    align-items: center;
}

.fa-location-dot {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    padding: 15px 15px;
    border-radius: 15px 0 0 15px;
    position: relative; 
}

.recherche {
    padding: 14px 14px;
    position: relative;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-right: none; 
    border-left: none;   
    font-weight: bold;    
}

input[type="text"]::placeholder {
    color: black;
}

input {
    outline: none;
    color: black
  }

form button {
    padding: 15px 15px;
    color: white;
    background-color: #0065FC;
    border: none;
    border-radius: 0px 15px 15px 0px;
    position: relative;
    font-weight: bold;
}

form button:hover {
    background-color: #DEEBFF;
    color: black
}

.bouton_phone {
    display: none;
}

/********section 1 : filtres*******/
.bloc_filtre {
    margin-top: 20px;
    flex-wrap: wrap;
    display: flex;
}

.titre_filtres {
    margin-right: 20px;
    font-size: 18px;
    padding-top: 10px;
}

.button_filtres {
    display: flex;
    border-radius: 30px;
    border-left: none;
    background-color: white;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    box-sizing: content-box;
    height: 45px;
    border: solid 2px #F2F2F2;
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 0px;
}

.icone_filter {
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50px;    
    display: flex;
    width: 50px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-left: -3px;
    height: 50px;
}

.fa-child, .fa-heart {
    font-size: 120%;  
}

.button_filtres:hover {
    background-color: #DEEBFF;
    border: solid 2px #DEEBFF;
}

.info {
    display: flex;
    width: 100%;
    align-items: start;
    margin-top: 30px;
}

.cercle_gris {
    color: #F2F2F2;
 }

 .info_bleu {
    color: #0065FC;
 }

 .cercle_info {
    font-size: 75%;
 }

 .texte_info {
    margin-left: 10px;
    margin-top: 5px;
 }

 /*************bloc 2 general***************/
 .bloc2 {
    display: flex;
    margin: 30px;
 }
 
 .bloc_cartes_fond {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 2% 2% 0 2%;
 }

 .titre_principal_bloc {
    font-size: 20px;
}

 .titres_cartes {
    font-weight: bold;
    margin: 0;
    padding: 2% 0 2% 2%;
}

.tarif_nuit {
    padding-left: 2%;
    margin: 0;
}

.etoiles {
    padding: 3% 0 3% 2%;
    font-size: 80%;
}

.etoile_bleue {
    color: #0065FC;
}

.etoile_grise {
   color: #F2F2F2;
}

.forme_cartes {
    background-color: white;
    border-radius: 15px;
    box-shadow: 4px 4px 6px rgb(239, 235, 235);
    border: 4px solid white;
    transition: 0.5s ease-in-out;
}

.forme_cartes:hover {
    box-shadow: 4px 4px 6px #0065FC;
}

.corps_cartes, a {
    text-decoration: none;  
    color: black;
    font-size: 14.5px;
}

.afficher {
    font-weight: bold;
    padding-top: 4%;
    padding-bottom: 3%;
    font-size: 16px;  
    margin: 0px;  
}

.afficher_texte:hover {
    color: #0065FC;
}

/***********bloc hebergements ********/
.bloc_hebergement {
    width: 60%;    
    margin-right: 15px;
}

 .bloc_cartes_hebergements {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

 /************Cartes hebergement*************/
 .cartes_hebergements {
    height: 210px;
    width: 30%;    
    margin-top: 20px;
}

.images_hebergements img {
    border-radius: 15px 15px 0 0;    
    width: 100%;
    height: 130px;
    object-fit: cover;
}

/*******bloc populaire********/
.bloc_populaires {
    width: 30%;  
    margin-left: 15px;
    }

.bloc_cartes_populaires {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
}

.titre_populaire_etoile {
    display: flex;
    justify-content: space-between;
}

/******cartes populaire****/
.cartes_populaires {
    display: flex;
    height: 130px;
    margin-top: 10px;
    margin-bottom: 5%;
}

.images_populaires img {
    border-radius: 15px 0px 0 15px;    
    height: 130px;
    width: 100%;
    object-fit: cover;
}

.images_populaires {
    width: 40%;
}

.populaireflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 100%;
    margin-left: 15px;
}

.etoiles_populaires {
    margin-top: auto;
}

 /********Bloc activité******/
 .bloc3 {
    margin: 0 30px 0 30px;
 }
 
.bloc_activites {
    padding: 2% 0 2% 0;
}

/**Dispo générale ***/
.bloc_cartes_activites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-between;
}

.bord_cartes_activites {
    height: auto;
    box-shadow: 4px 4px 6px rgb(239, 235, 235);
    border-radius: 15px;
    transition: 0.5s ease-in-out;
}

.bord_cartes_activites:hover {
    box-shadow: 4px 4px 6px #0065FC;
}

.photos_activites {
    border-radius: 15px 15px 0 0px;
    width: 100%;
    object-fit: cover;
}

.titres_activites {
    padding: 5% 0 5% 5%;
}

/****Grandes activités***/ 
.grandes_activites {
    width: 23%;
    height: 430px;  
}

.grande_photo {
    height: 380px;    
}

/***Photos 2/3***/
.photo_deux_tiers {
    height: 200px; 
}

.photo_un_tier {
    height: 100px;
}

/**Photo demi***/
.photo_demi {
    height: 150px;
}

/****Dispo générale petites cartes***/ 
.petites_cartes {
    display: flex;
    flex-direction: column;
    width: 23%;
    height: auto;
    justify-content: space-between;    
}

/*****footer*********/
footer {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    padding: 20px 0 20px 30px; 
}

.footer_titre {
    font-weight: bold;
    font-size: 18px;
}

ul {
    list-style: none;
    padding-left: 0px;
}

.lien_footer a:hover {
    color: #0065FC;
    font-weight: bold;
}

.liste_footer {
    width: 30%;
}

.lien_footer {
    padding-bottom: 14px;
    font-size: 16px;
}

@media all and (max-width: 991px) {
    /*******header tablette*********/
    header {
        margin: 0 30px 0 20px;
    }

    .header-logo {
        height: 40px;
        margin: 20px 0 0 0; 
    }

    .titre_filtres {
        width: 100%;
    }

    .info {
        margin-top: 10px;
    }

    /*******bloc 2 ***********/

    /******Hebergements & populaires*********/

    .bloc2 {
      flex-direction: column-reverse;
    }

    .bloc_hebergement {
        margin-right: 0px;
        width:fit-content
    }

    .bloc_populaires {
        width: auto;
        margin-left: 0px;
        margin-bottom: 4%;
    }

      .bloc_cartes_populaires {
        justify-content: space-between;
        flex-direction: row;
    }

    .cartes_populaires {
        height: 230px;
        width: 30%;
        flex-direction: column;
    }

    .populaireflex {
        width: 100%;
        margin-left: 0px;
    }

    .etoiles_populaires {
        padding: 3% 0 3% 2%;
    }

    .images_populaires img {
        border-radius: 15px 15px 0 0px;    
        height: 130px;
        width: 100%;
        object-fit: cover;
    }

    .images_populaires {
        width: 100%;
    }

    /******BLOC 3 ACTIVITES********/
    .grande_photo {
        height: 350px
    }

    .grandes_activites {
        height: 400px;
    }
    
    .vieux_port {
        padding:8% 0 5% 5%;
    }
}
  
@media all and (max-width: 767px) {
.page {
    min-width: 320px;
    margin: auto;
}

    /*******Header phone***********/
header {
        flex-direction: column;
        align-items: center;
        margin: 30px 0px 0 0;
}

    /*********partie logo header*************/ 
.header-logo {
        margin: 0 0 20px 0;
}

 /*********partie navigation header *******************/
header nav {
    padding-inline-start: 0%;
    font-size: 18px;   
    width: 100%;    
}

.nav_header {
    padding: 30px 25px 10px 30px;
    text-decoration: none;
    border-bottom: 3px solid #f2f2f2; 
    width: 100%;
    text-align: center;
}
        
header nav a:hover {
        color: #0065FC;
        padding: 30px 25px 10px 30px;
        border-bottom: 3px solid #0065FC;
        border-top : none;
}

 /*******Section 1 : Formulaire recherche ***************/
 .bloc1 {
    margin-left: 20px;
    margin-right: 20px;
 }

div .texte_formulaire {
    padding-top: 20px;
}

.bouton_desktop {
    display: none;
}

.bouton_phone {
    display: flex;
    border-radius: 15px 15px; 
}  
       
.recherche {
        width: 90%;
}
 /*******Section 1 : filtres ***************/
    .titre_filtres {
        margin: 15px 0 5px 0;
        padding: 0;
        width: 100%;
    }

    .button_filtres {
        margin-right: 20px;
        font-size: 15px;
        margin-bottom: 5px; 
    }

    .texte_info {
       margin-left: 5px;
    }

    .economique, .famille {
        margin-right: 10px;
    }

    .info {
        margin-top: 10px;
    }

/**********BLOC 2 *************/
.bloc2 {
    flex-direction: column-reverse;
    width: 100%;
    margin: 0px;
}

.bloc_cartes_fond {
    border-radius: 0%;
}

.titre_principal_bloc {
    font-size: 20px;
    margin-left: 15px;
}

.etoiles_populaires {
    padding-bottom: 10%;
}

.titre_populaire_etoile {
    margin: 10px 10px 0px 0px;
}

.etoile_titre_populaire {
    font-size: 20px;
}

.bloc_hebergement {
    flex-direction: column;
    background-color: white;
    width: auto;
    justify-content: center;
}

.bloc_cartes_hebergements {
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.cartes_hebergements {
    width: 90%;
    height: auto;
    margin-bottom:  5px;
    margin-top: 2%;
}

.bloc_cartes_populaires {
    flex-direction: column;
}

.cartes_populaires {
    display: flex;
    height: 120px;
    flex-direction: row;
    width: auto;
    margin: 0 4% 3% 4%;
}

.images_populaires img {
    border-radius: 15px 0 0 15px;
    width: 100%;
    height: 100%;
}

.images_populaires {
    width: 70%;
}
.populaireflex {
    margin: 10px 10px 0px 20px;
}

.titres_populaires {
    padding-bottom: 5%;
}

.afficher {
    margin-left: 15px;
}

/****Bloc activité****/
.titres_activites {
    margin-left: 0px;
    font-size: 16px;
}


.bloc_cartes_activites {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;    
}

.width_activite {
    width: 100%;
}

.petites_activites, .grandes_activites {
    height: auto; 
    margin-bottom: 20px;
}

.vieux_port {
    padding:5% 0 5% 5%;
}

.photo_deux_tiers, .photo_un_tier, .grande_photo {
    height: 150px 
}
/******footer****/ 
footer {
    flex-direction: column;
}
.liste_footer {
    width: 100% 
}
}